.react-toggle {
    touch-action: pan-x;

    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 30px;
    height: 18px;
    padding: 0;
    border-radius: 30px;
    background-color: #faebd7;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #faebd7;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 16px;
    height: 16px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 15px;
    border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
}

.omega{

    &-menu{
        position: relative;
    }

    &-menu--icon{
        right: 10px;
        padding: 5px;
        width: 70px;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: all 600ms ease;
        border-radius: 4px;
        &:hover{
            opacity: .75;
            box-shadow: inset 0px -4px 0px 0px #4087F1;
        }
    }

    &-menu--list{
        position: absolute;
        width: 250px;
        height: max-content;
        border-radius: 4px;
        padding: 5px 15px;
        box-sizing: border-box;
        top: 100%;
        right: 0px;
        font-size: .8rem;
        transition: all 400ms ease;
    }

    &-menu--listItem{
        display: flex;
        height: 30px;
        justify-content: space-between;
        align-items: center;
        transition: all 400ms ease;
    }

    &-menu--seperator{
        width: 100%;
        height: 2px;
        background: rgb(197, 220, 255);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &-menu--externalLink{
        height: 25px;
        text-decoration: underline;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        div:nth-child(1){
            width: 18px;
            margin-right: 5px;
        }

        &:hover{
            font-weight: 600;
            cursor: pointer;
            transition: all 400ms ease;
        }
    }
}

.companyTagsContainer{
    display: flex;
    padding: 5px;
    width: calc(100% - 50px);
            

    &--tag{
        margin: 5px;
        padding: 5px 10px 5px 10px;
        border: none;
        background: #ffffff1a;
        color: rgb(255 161 22/var(--tw-text-opacity));
        font-size: .75rem;
        border-radius: 4px;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    &--tagOccurence{
        margin-left: 10px;
        background: #ffffff1a;
        padding: 3px 5px 3px 5px;
        border-radius: 4px;
        font-weight: 600;
        font-size: .6rem;
        opacity: .8
    }

    &--chevron{
        right: 10px;
        width: 50px;
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        align-items: flex-start;
        cursor: pointer
    }
}

#big-omega-topbar{
    transition: all 400ms ease;
    display: flex;
}

.backdrop-blur-lg, .backdrop-blur-sm{
    backdrop-filter: blur(0px) !important;
}

.active-inactive {
    display: none;
    margin-left: 10px;
}

.problemList{

    padding-left: 25px;

    &-problem{
        transition: all 300ms ease;
        margin-top: 5px;
        display: flex;
        cursor: pointer;
        &:hover{
            font-weight: 500;
            text-decoration: underline;
            .active-inactive{
                display: block;
            }
        }
    }
}